{% extends 'base.html'%}
    {%block content%}
        <div class="row align-items-center justify-content-between m-5 ">
            <div class="col-md-4">
                <!--Tarjeta formulario-->
                <div class="card text-center fondo">
                    <div class="card-header">
                        <form action="#" method="post" class="form-login mt-5">
                            <a style="color: black;" class="nav-link active bt-inicio" aria-current="page" href=""><i
                                    class="bi bi-gear-fill" class="text-center mb-2" style="color: white;"></i> Editar
                                perfil</a>
                            <center>
                                <h2 class="text-center mb-2" style="color: white;">Perfil</h2>
                                <img src="https://cdn-icons-png.flaticon.com/512/2922/2922510.png" width="100 px">
                            </center>
                            <center>
                                <div class="form-group">
                                    <h5 class="text-center mb-2" style="color: white;">Jean Sebastian Gomez Salinas</h5>
                                </div>
                                <div class="form-group">
                                    <h6 class="text-center mb-2" style="color: white;">9 semestre</h6>
                                </div>
                                <div class="form-group">
                                    <h6 class="text-center mb-2" style="color: white;">Ingenieria de Sistemas</h6>
                                </div>
                                <div class="form-group">
                                    <h6 class="text-center mb-2" style="color: white;">Universidad de Cundinamarca
                                        Seccional Ubate</h6>
                                </div>
                                <div class="form-group">
                                    <h6 class="text-center mb-2" style="color: white;">Promedio 3.4</h6>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
                <!--Fin tarjeta formulario-->
            </div>
            <!--Inicio carta primer entrega-->
            <div class="col-md-4">
                <!--Tarjeta formulario-->
                <div class="card text-center fondo">
                    <div class="card-header">

                        <form action="#" method="post" class="form-login mt-5">
                            <center>
                                <h2 class="text-center mb-2" style="color: white;">Primer entrega</h2>
                                <img src="https://cdn-icons-png.flaticon.com/512/3979/3979423.png" width="100 px">
                            </center>
                            <center>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Proyecto</h4>
                                    <a href="" class="btn btn-success">Documento</a>
                                </div>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Observaciones</h4>
                                    <a href="" class="btn btn-success">Observaciones</a>
                                </div>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Calificación </h4>
                                    <a href="" class="btn btn-success"> Calificación </a>
                                </div>
                            </center>

                        </form>
                    </div>
                </div>
                <!--Fin tarjeta formulario primer entrega-->
            </div>
            <!--Inicio carta segunda entrega-->
            <div class="col-md-4">
                <!--Tarjeta formulario-->
                <div class="card text-center fondo">
                    <div class="card-header">
                        <form action="#" method="post" class="form-login mt-5">
                            <center>
                                <h2 class="text-center mb-2" style="color: white;">Segunda entrega</h2>
                                <img src="https://cdn-icons-png.flaticon.com/512/3979/3979423.png" width="100 px">
                            </center>
                            <center>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Proyecto</h4>
                                    <a href="" class="btn btn-success">Documento</a>
                                </div>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Observaciones</h4>
                                    <a href="" class="btn btn-success">Observaciones</a>
                                </div>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Calificación </h4>
                                    <a href="" class="btn btn-success"> Calificación </a>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
                <!--Fin tarjeta formulario segunda entrega-->
            </div>
        </div>
        {%endblock%}
   