{%if current_user.rol == 1:%}
{% extends 'base.html'%}
{% block title %}
    Fomalhaut | Estudiante | {{current_user.nombres}}
{%endblock%}
{% block navbar %}
<nav class="nav navbar sticky-top">
    <div class="container-fluid float-end">
        <a class="navbar-brand" href="#" style="color: white;">
            <img src="{{url_for('static', filename='imgs/FomalhauticonWhite.svg')}}" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Fomalhaut - {{current_user.nombres}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark" aria-controls="offcanvasNavbar">
            <i class="bi bi-list" style="color: white;"></i>    
        </button>
</nav>
{%endblock%}
{%block content%}
<div class="row align-items-center justify-content-between m-5 ">
    
    <div class="col-md-4 mb-2">
        <div class="card text-center fondo shadow-lg ">

            <center>
                <img src="{{url_for('static', filename='imgs/space.svg')}}" class="card-img-top" alt="...">
                </center>
                <center>
                    <div class="card-body">
                    <h2 class="text-center mb-2" style="color: white;">{{current_user.nombres}}</h2>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-proyectos">Mis proyectos</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-observaciones">Observaciones y Califcaciones</button>
                      </div>
                </div>
            </center>

        </div>

        <!--Tarjeta formulario-->
        <div class="offcanvas offcanvas-end fondo" tabindex="-1" id="offcanvasDark"
            aria-labelledby="offcanvasDarkLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkLabel" style="color:#fff;">Perfil</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="card text-center fondo">
                    <div class="card-header">

                        <a class="nav-link active bt-inicio" style="color: white;" aria-current="page" data-bs-toggle="modal"
                        data-bs-target="#editar_perfil_{{current_user.id}}"><i
                                class="bi bi-gear-fill" class="text-center mb-2" style="color: white;"></i> Editar
                            perfil</a>
                        <center>
                            <img src="{{url_for('static', filename='imgs/FomalhauticonWhite.svg')}}" width="100 px">
                        </center>
                        <center>
                            <div class="form-group">
                                <h5 class="text-center mb-2" style="color: white;">{{current_user.nombres}}</h5>
                            </div>
                            <div class="form-group">
                                <h6 class="text-center mb-2" style="color: white;">Ingenieria de Sistemas</h6>
                            </div>
                            <div class="form-group">
                                <h6 class="text-center mb-2" style="color: white;">Universidad de Cundinamarca
                                    Seccional Ubaté</h6>
                            </div>
                        </center>
                    </div>
                    <a onclick="return confirm('¿Esta seguro de salir?')" style="color: white;"
                        class="nav-link active bt-login" href="/forms/logout"><i class="bi bi-door-open"></i>Salir</a>
                </div>
            </div>
        </div>

        <!--Fin tarjeta formulario-->
    </div>
    <!--Inicio carta primer entrega-->
    <div class="col-md-4 mb-2">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo shadow-lg">

            <center>
                <img src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_960_720.jpg"
                    class="card-img-top" height="300" alt="...">
                </center>
            <center>
                <div class="card-body">
                    <h2 class="text-center mb-2" style="color: white;">Primera entrega</h2>
                    <!-- <h4 class="text-center mb-2" style="color: white;">Enviar Proyecto</h4> -->
                    <div class="alert alert-success">
                        fecha de apertura: {{fecha[1]}}
                        <br>
                        fecha de cierre: {{fecha[2]}}
                        <br>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%if estado_e1 == true%}
                    <a href="{{url_for('estudiantes.registroproyecto')}}" class="btn btn-success w-100">Enviar Proyecto</a>
                    {%else%}
                    <div class="alert alert-warning">
                        ¡Lo sentimos no puedes enviar el proyecto 🙊!
                    </div>
                    <a href="#" class="btn btn-success w-100 disabled">Enviar Proyecto</a>
                    {%endif%}
                    <!-- <h4 class="text-center mb-2" style="color: white;">Observaciones</h4>
                    <a href="" class="btn btn-success w-100">Observaciones</a> -->
                </div>
            </center>

        </div>
        <!--Fin tarjeta formulario primer entrega-->
    </div>
    <!--Inicio carta segunda entrega-->
    <div class="col-md-4 mb-2">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo shadow-lg ">

            <center>
                <img src="https://cdn.pixabay.com/photo/2016/11/08/05/10/students-1807505_960_720.jpg"
                    class="card-img-top" height="260" alt="...">
                </center>
            <center>
                <div class="card-body">
                    <h2 class="text-center mb-2" style="color: white;">Segunda entrega</h2>
                    <!-- <h4 class="text-center mb-2" style="color: white;">Enviar Proyecto</h4> -->
                    <div class="alert alert-success">
                        fecha de apertura: {{fecha[3]}}
                        <br>
                        fecha de cierre: {{fecha[4]}}
                        <br>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {%if estado_e2 == true%}
                    <a href="{{url_for('estudiantes.registroproyecto_segunda')}}"  class="btn btn-success w-100">Enviar Proyecto</a>
                    {%else%}
                    <div class="alert alert-danger">
                        ¡Lo sentimos no puedes enviar el proyecto 🙊!
                    </div>
                    <a href="#" class="btn btn-success w-100 disabled">Enviar Proyecto</a>
                    {%endif%}
                </div>
            </center>

        </div>
        <!--Fin tarjeta formulario segunda entrega-->
    </div>
    
</div>
<!-- Modal  Observaciones y Calficaciones-->
  <div class="modal fade" id="modal-observaciones" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header text-bg-success">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Observaciones y Calificaciones</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {%for calificaciones_vista in cal_ob%}
                <div class="card mb-2">
                    <div class="card-header text-bg-success">
                        {%for proyectos_vista in allproyectos%}
                            {%if calificaciones_vista[2]== proyectos_vista[0]%}
                                <h5 class="text-center mb-2" style="color: white;">{{proyectos_vista[1]}}</h5>
                            {%endif%}
                        {%endfor%}

                    </div>
                        <div class="card-body">
                            <h5 class="card-title">Observaciones:</h5>
                            {%if calificaciones_vista[0]==1%}
                                <div id="observacion-{{calificaciones_vista[1]}}">
                                </div>
                                <h5 class="card-title">Calificaciones:</h5>
                                <div id="calificacion-{{calificaciones_vista[1]}}">
                                </div>
                            <!-- <p class="card-text" id="calificacion">
                            </p> -->
                            <button class="btn btn-primary" id="boton-{{calificaciones_vista[1]}}" onclick="imprimir_promedio_calificacion('{{calificaciones_vista[1]}}',nota_1('{{calificaciones_vista[3]}}')), imprimir_observaciones('{{calificaciones_vista[1]}}', obser_1('{{calificaciones_vista[4]}}'))">Revelar</button>
                            {%endif%}
                            {%if calificaciones_vista[0]==2%}
                                <div id="observacion-{{calificaciones_vista[1]}}">
                                </div>
                                <h5 class="card-title">Calificaciones:</h5>
                                <div id="calificacion-{{calificaciones_vista[1]}}">
                                </div>
                            <!-- <p class="card-text" id="calificacion">
                            </p> -->
                            <button class="btn btn-primary" id="boton-{{calificaciones_vista[1]}}" onclick="imprimir_promedio_calificacion('{{calificaciones_vista[1]}}',nota_2('{{calificaciones_vista[3]}}','{{calificaciones_vista[4]}}')), imprimir_observaciones('{{calificaciones_vista[1]}}', obser_2('{{calificaciones_vista[5]}}','{{calificaciones_vista[5]}}'))">Revelar</button>
                            {%endif%}
                            {%if calificaciones_vista[0]==3%}
                                <div id="observacion-{{calificaciones_vista[1]}}">
                                </div>
                                <h5 class="card-title">Calificaciones:</h5>
                                <div id="calificacion-{{calificaciones_vista[1]}}">
                                </div>
                            <!-- <p class="card-text" id="calificacion">
                            </p> -->
                                <button class="btn btn-primary" id="boton-{{calificaciones_vista[1]}}" onclick="imprimir_promedio_calificacion('{{calificaciones_vista[1]}}',nota_3('{{calificaciones_vista[3]}}','{{calificaciones_vista[4]}}','{{calificaciones_vista[5]}}')), imprimir_observaciones('{{calificaciones_vista[1]}}', obser_3('{{calificaciones_vista[6]}}','{{calificaciones_vista[7]}}','{{calificaciones_vista[8]}}'))">Revelar</button>
                            {%endif%}
                            {%if calificaciones_vista[0]==4%}
                                <div id="observacion-{{calificaciones_vista[1]}}">
                                </div>
                                <h5 class="card-title">Calificaciones:</h5>
                                <div id="calificacion-{{calificaciones_vista[1]}}">
                                </div>
                            <!-- <p class="card-text" id="calificacion">
                            </p> -->
                            <button class="btn btn-primary" id="boton-{{calificaciones_vista[1]}}" onclick="imprimir_promedio_calificacion('{{calificaciones_vista[1]}}',nota_4('{{calificaciones_vista[3]}}','{{calificaciones_vista[4]}}','{{calificaciones_vista[5]}}','{{calificaciones_vista[6]}}')), imprimir_observaciones('{{calificaciones_vista[1]}}', obser_4('{{calificaciones_vista[7]}}','{{calificaciones_vista[8]}}','{{calificaciones_vista[9]}}','{{calificaciones_vista[10]}}'))">Revelar</button>
                            {%endif%}
                            {%if calificaciones_vista[0]==5%}
                                <div id="observacion-{{calificaciones_vista[1]}}">
                                </div>
                                <h5 class="card-title">Calificaciones:</h5>
                                <div id="calificacion-{{calificaciones_vista[1]}}">
                                </div>
                            <!-- <p class="card-text" id="calificacion">
                            </p> -->
                            <button class="btn btn-primary" id="boton-{{calificaciones_vista[1]}}" onclick="imprimir_promedio_calificacion('{{calificaciones_vista[1]}}',nota_5('{{calificaciones_vista[3]}}','{{calificaciones_vista[4]}}','{{calificaciones_vista[5]}}','{{calificaciones_vista[6]}}','{{calificaciones_vista[7]}}')), imprimir_observaciones('{{calificaciones_vista[1]}}', obser_4('{{calificaciones_vista[8]}}','{{calificaciones_vista[9]}}','{{calificaciones_vista[10]}}','{{calificaciones_vista[11]}}','{{calificaciones_vista[12]}}'))">Revelar</button>
                            {%endif%}
                        </div>
                </div>
        {%endfor %}  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para proyectos -->
  <div class="modal fade" id="modal-proyectos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header text-bg-success">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Mis proyectos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            {%for proyectos_vista in allproyectos%}
            {%if proyectos_vista[8] == current_user.id or proyectos_vista[6] == current_user.id or proyectos_vista[7] == current_user.id%}
            <div class="card mb-2">
                <div class="card-header">

                    {{proyectos_vista[1]}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Proyecto: {{proyectos_vista[1]}}</h5>
                    {%if proyectos_vista[4] == true%}
                    <h5 class="card-title">Calificado: Si</h5>
                    {%elif proyectos_vista[4] == false%}
                    <h5 class="card-title text-danger">Calificado: No</h5>
                    {%endif%}
                    <p class="card-text" id="proyecto">
                    </p>
                    <button class="btn btn-success" onclick="establcerSrc(decryptInput('{{proyectos_vista[4]}}'))">Documento</button>
                    {%if proyectos_vista[5] == 'Sin anexos'%}
                        <strong>Sin anexo</strong>
                    {%else%}
                        <button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos_vista[5]}}'))">Anexo</button>
                    {%endif%}
                </div>
              </div>
            {%endif%}
            {%endfor %}  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal editar usuario -->
{%for usuario in usuarios%}
{%if usuario[0] == current_user.id%}
<div class="modal fade" id="editar_perfil_{{usuario[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{usuario[1]}} {{usuario[2]}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/estudiantes/actualizar" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id_modificar" value="{{usuario[0]}}">
                        <label for="Nombres">Nombres</label>
                        <input type="text" id="nombres" name="nombres" class="form-control" value="{{usuario[1]}}">
                        <label for="Apellidos">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos" class="form-control" value="{{usuario[2]}}">
                        <label for="Correo">Correo</label>
                        <input type="text" id="Correo" name="correo"  class="form-control" value="{{usuario[3]}}">
                        <label for="tip_doc">Tipo Documento</label>
                        <select class="form-select" name="tip_doc" id="tip_doc">
                            <!-- Tener un valor de default -->
                            {%if usuario[6]==1%}
                                <option value="1" selected>CC</option>
                                <option value="2">TI</option>
                            {%elif usuario[6]==2%}
                            <option value="1">CC</option>
                            <option value="2" selected>TI</option>
                            {%endif%}
                        </select>
                        <label for="n_documento">Número de documento</label>
                        <input type="text" id="n_documento" name="n_documento"  class="form-control" value="{{usuario[4]}}">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary"
                            onclick="return confirm('¿Desea guardar los cambios?')">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endif%}
{%endfor%}



{%endblock%}
{%elif current_user.rol == 2 or current_user.rol == 3 or current_user.rol == 4%}
<!-- Realizar un indicador de carga -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso No Autorizado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/styles.css')}}">
    {%if current_user.rol ==2%}
    <meta http-equiv="refresh" content="5; URL={{url_for('profesor.perfilprofesor')}}" />
    {%elif current_user.rol ==3%}
    <meta http-equiv="refresh" content="5; URL={{url_for('admin.perfiladmin')}}" />
    {%elif current_user.rol ==4%}
    <meta http-equiv="refresh" content="5; URL={{url_for('jurado.perfiljurado')}}" />
    {%endif%}
</head>

<body>

    <div id="particles-js"></div>
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="container col-auto text-center">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center"><strong>¡Hola {{current_user.nombres +' '+current_user.apellidos}} creo que
                            estás perdido!</h1></strong>
                </div>
                <iframe src="https://giphy.com/embed/3o7aTskHEUdgCQAXde" width="480" height="204" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
                <h5>¡ESTA VISTA, NO ESTA DISEÑADA PARA TI!</h5>
                <h5>Serás redireccionado en unos instantes...</h5>
                <!-- <a href="{{url_for('estudiantes.perfilestudiante')}}">Regresar</a> -->
            </div>
        </div>
    </div>
</body>

<script src="{{url_for('static', filename='/js/particles.js')}}"></script>
<script>
    particlesJS.load('particles-js', "{{url_for('static', filename='/js/particles-space.json')}}", function () {
        console.log('callback - particles.js config loaded');
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

</html>

{%endif%}