{%extends 'base.html'%}
    {%block content%}
    {%load static%}
        <div class="card fondo">
            <div class="card-header">

                <form action="#" method="post" class="form-login">
                    <center>
                        <h1 class="text-center mb-2" style="color: white;">Registro Grupo de Investigación</h1>
                    </center>
                    <br>
                    <legend style="color: white;">¿Cuantos intregrantes conforman su grupo de
                        trabajo?</legend>

                    <select class="input-group-text input-fondo" aria-label="seleccion integrantes">
                        <option selected>Integrantes</option>
                        <option value=" 1">Uno</option>
                        <option value="2">Dos</option>
                        <option value="3">Tres</option>
                    </select>

                    <br>

                    <h3 style="color: white;">Primer Integrante</h3>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-person-badge"></i></span>
                        <input class="form-control input-fondo" type="text" placeholder="Nombres" name="nombres1"
                            id="nombres1" style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>
                    <br>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-person-badge-fill"></i></span>
                        <input class="form-control input-fondo" type="text" placeholder="Apellidos" name="apellidos1"
                            id="apellidos1" style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>
                    <br>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-envelope"></i></span>
                        <input class="form-control input-fondo" type="email" name="email_insitucional"
                            placeholder="Correo Institucional"
                            style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>

                    <br>

                    <h3 style="color: white;">Segundo Integrante</h3>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-person-badge"></i></span>
                        <input class="form-control input-fondo" type="text" placeholder="Nombres" name="nombres2"
                            id="nombres2" style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>
                    <br>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-person-badge-fill"></i></span>
                        <input class="form-control input-fondo" type="text" placeholder="Apellidos" name="apellidos1"
                            id="apellidos1" style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>
                    <br>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-envelope"></i></span>
                        <input class="form-control input-fondo" type="email" name="email_insitucional"
                            placeholder="Correo Institucional"
                            style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>
                    <br>

                    <h3 style="color: white;">Tercer Integrante</h3>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-person-badge"></i></span>
                        <input class="form-control input-fondo" type="text" placeholder="Nombres" name="nombres3"
                            id="nombres3" style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>
                    <br>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-person-badge-fill"></i></span>
                        <input class="form-control input-fondo" type="text" placeholder="Apellidos" name="apellidos1"
                            id="apellidos1" style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>
                    <br>
                    <div class="input-group mb-2">
                        <span class="input-group-text input-fondo" id="basic-addon1"><i
                                class="bi bi-envelope"></i></span>
                        <input class="form-control input-fondo" type="email" name="email_insitucional"
                            placeholder="Correo Institucional"
                            style="color:#fff; background-color: rgba(34, 32, 32, 0.5);">
                    </div>
                </form>
            </div>
        </div>
{%endblock%}