{%if current_user.rol == 4:%}
{%extends 'base.html'%}
{% block title %}
    Fomalhaut | Jurado | {{current_user.nombres}}
{%endblock%}
{%block navbar%}
<nav class="nav navbar sticky-top">
    <div class="container-fluid float-end">
        <a class="navbar-brand" href="#" style="color: white;">
            <img src="{{url_for('static', filename='imgs/FomalhauticonWhite.svg')}}" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Fomalhaut - {{current_user.nombres}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a style="color: white;" class="nav-link active bt-inicio" aria-current="page"
                        href="/registroGrupo"><i class="bi bi-file-pdf"></i> Enviar Proyecto</a>
                </li>
                <li class="nav-item">
                    <a onclick="return confirm('¿Esta seguro de salir?')" style="color: white;"
                        class="nav-link active bt-login" href="/forms/logout"><i class="bi bi-door-open"></i>Salir</a>
                </li>
            </ul>
        </div> -->
</nav>
{%endblock%}
{%block content%}
<div class="row align-items-center justify-content-between mt-5">
    <div class="col-md-3">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark"
            aria-controls="staticBackdrop">
            <img src="https://cdn-icons-png.flaticon.com/512/2922/2922510.png" alt="" width="100px" height="100px">
            <h1 style="color:#fff;" class="shadows-lg">Perfil - {{current_user.nombres}}</h1>
        </button>
        <!--Tarjeta formulario-->
        <div class="offcanvas offcanvas-end show fondo" tabindex="-1" id="offcanvasDark"
            aria-labelledby="offcanvasDarkLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkLabel" style="color:#fff;">Perfil</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="card text-center fondo">
                    <div class="card-header">

                        <!-- <a style="color: black;" class="nav-link active bt-inicio" aria-current="page" href=""><i
                                class="bi bi-gear-fill" class="text-center mb-2" style="color: white;"></i> Editar
                            perfil</a> -->
                        <center>
                            <img src="{{url_for('static', filename='imgs/FomalhauticonWhite.svg')}}" width="100 px">
                        </center>
                        <center>
                            <div class="form-group">
                                <h5 class="text-center mb-2" style="color: white;">{{current_user.nombres}}</h5>
                            </div>
                            <div class="form-group">
                                <h6 class="text-center mb-2" style="color: white;">Ingenieria de Sistemas</h6>
                            </div>
                            <div class="form-group">
                                <h6 class="text-center mb-2" style="color: white;">Universidad de Cundinamarca
                                    Seccional Ubaté</h6>
                            </div>
                        </center>
                    </div>
                    <a onclick="return confirm('¿Esta seguro de salir?')" style="color: white;"
                        class="nav-link active bt-login" href="/forms/logout"><i class="bi bi-door-open"></i>Salir</a>
                </div>
            </div>
        </div>

        <!--Fin tarjeta formulario-->
    </div>
    <!--Inicio carta primer entrega-->
    <div class="col-md-3 mb-3">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo">

            <center>
                <img src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_960_720.jpg"
                    class="card-img-top" alt="...">
                <h2 class="text-center mb-2" style="color: white;">Ciclo I</h2>
            </center>
            <center>
                <div class="card-body">
                    <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                    <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                        data-bs-target="#modal-ciclo-1">Evaluar Proyectos</a>
                    <h4 class="text-center mb-2" style="color: white;">Proyectos-Calificados</h4>
                    <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                    data-bs-target="#modal-obser-ciclo-1">Ver proyectos</a>
                    
                </div>
            </center>

        </div>
        <!--Fin tarjeta formulario primer entrega-->
    </div>
    <!--Inicio carta segunda entrega-->
    <div class="col-md-3">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo mb-3">

            <center>
                <img src="https://cdn.pixabay.com/photo/2015/07/17/22/42/startup-849804_960_720.jpg"
                    class="card-img-top" alt="...">
                <h2 class="text-center mb-2" style="color: white;">Ciclo II</h2>
            </center>
            <center>
                <div class="card-body">
                    <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                    <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                        data-bs-target="#modal-ciclo-2">Evaluar Proyectos</a>
                    <h4 class="text-center mb-2" style="color: white;">Observaciones</h4>
                    <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                    data-bs-target="#modal-obser-ciclo-2">Ver proyectos</a>
                </div>
            </center>

        </div>
        <!--Fin tarjeta formulario segunda entrega-->
    </div>
    <!--Inicio carta segunda entrega-->
    <div class="col-md-3">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo mb-3">

            <center>
                <img src="https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_960_720.jpg"
                    class="card-img-top" alt="...">
                <h2 class="text-center mb-2" style="color: white;">Ciclo III</h2>
            </center>
            <center>
                <div class="card-body">
                    <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                    <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                        data-bs-target="#modal-ciclo-3">Evaluar Proyectos</a>
                    <h4 class="text-center mb-2" style="color: white;">Observaciones</h4>
                    <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                    data-bs-target="#modal-obser-ciclo-2">Ver Proyectos</a>
                </div>
            </center>

        </div>
        <!--Fin tarjeta formulario segunda entrega-->
    </div>
</div>

<!-- Modal Ciclo I-->
<div class="modal fade" id="modal-ciclo-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo I</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <table class=" table table-striped table-hover text-center" id="tabla_ciclo_1">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                            <th>Entrega</th>
                            <th>Observaciones y calificación</th>

                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                        {% for proyectos in proyecto %}
                            {%if proyectos[2]=='1' and proyectos[9]==False %}
                                <tr>
                                    <td>{{proyectos[1]}}</td>
                                    <td>{{proyectos[5]}}</td>
                                    <td>{{proyectos[6]}}</td>
                                    <td>{{proyectos[7]}}</td>
                                    <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[3]}}'))">Documento</button></td>
                                    {%if proyectos[4] == 'Sin anexos'%}
                                        <td>Sin anexos</td>
                                    {%else%}
                                        <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[4]}}'))">Anexos</button></td>
                                    {%endif%}
                                        <td>{{proyectos[8]}}</td>
                                        <td><button class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#modal-evaluacion-{{proyectos[0]}}">Evaluar</button>
                                        </td>
                                </tr>
                            {%endif%}

                        {% endfor %}
                        
                        
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ciclo II-->
<div class="modal fade" id="modal-ciclo-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo II</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <table class=" table table-striped table-hover text-center" id="tabla_ciclo_2">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                            <th>Entrega</th>
                            <th>Observaciones y calificación</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                        {% for proyectos in proyecto %}
                            {%if proyectos[2]=='2' and proyectos[9]==False %}
                                <tr>
                                    <td>{{proyectos[1]}}</td>
                                    <td>{{proyectos[5]}}</td>
                                    <td>{{proyectos[6]}}</td>
                                    <td>{{proyectos[7]}}</td>
                                    <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[3]}}'))">Documento</button></td>
                                    {%if proyectos[4] == 'Sin anexos'%}
                                        <td>Sin anexos</td>
                                    {%else%}
                                        <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[4]}}'))">Anexos</button></td>
                                    {%endif%}
                                        <td>{{proyectos[8]}}</td>
                                        <td><button class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#modal-evaluacion-{{proyectos[0]}}">Evaluar</button>
                                        </td>
                                </tr>
                            {%endif%}

                        {% endfor %}
                        
                        
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ciclo III-->
<div class="modal fade" id="modal-ciclo-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo III</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <table class=" table table-striped table-hover text-center" id="tabla_ciclo_3">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                            <th>Entrega</th>
                            <th>Observaciones y calificación</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">

                        {% for proyectos in proyecto %}
                            {%if proyectos[2]=='3' and proyectos[9]==False %}
                                <tr>
                                    <td>{{proyectos[1]}}</td>
                                    <td>{{proyectos[5]}}</td>
                                    <td>{{proyectos[6]}}</td>
                                    <td>{{proyectos[7]}}</td>
                                    <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[3]}}'))">Documento</button></td>
                                    {%if proyectos[4] == 'Sin anexos'%}
                                        <td>Sin anexos</td>
                                    {%else%}
                                        <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[4]}}'))">Anexos</button></td>
                                    {%endif%}
                                        <td>{{proyectos[8]}}</td>
                                        <td><button class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#modal-evaluacion-{{proyectos[0]}}">Evaluar</button>
                                        </td>
                                </tr>
                            {%endif%}

                        {% endfor %}
                        
                        
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para la evaluación del proyecto -->
{% for proyecto in proyectos %}
<div class="modal fade" id="modal-evaluacion-{{proyecto[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo I</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/jurado/retroalimentacion" method="post">
                    {%if proyecto[2] == "1"%}
                        <h1>Evaluación proyecto {{proyecto[1]}}</h1>
                        <input type="hidden" name="id_jurado" value="{{current_user.id}}">
                        <input type="hidden" name="id_proyecto" value="{{proyecto[0]}}">
                        <input type="hidden" name="id_grupo" value="{{proyecto[9]}}">
                        <input type="hidden" name="ciclo" value="{{proyecto[2]}}">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="califacion" name="calificacion"
                                placeholder="Califcación">
                            <label for="califacion">Calificación</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="observaciones" id="observaciones" class="form-control"
                            placeholder="Observaciones">
                            
                            </textarea>
                        <label for="observaciones">Observaciones</label>
                        </div>
        
                        <div class="text-center">
                            <input type="submit" class="btn btn-success w-50" value="Enviar">
                        </div>
                        {%endif%}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
</div>
{% endfor %}
    <!-- Modal de evaluación del proyecto ciclo II -->
{% for proyecto in proyectos %}
    <div class="modal fade" id="modal-evaluacion-dos-{{proyecto[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo II</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/jurado/retroalimentacion" method="post">
                        {%if proyecto[2] == "2"%}
                            <h1>Evaluación proyecto {{proyecto[1]}}</h1>
                            <input type="hidden" name="id_jurado" value="{{current_user.id}}">
                            <input type="hidden" name="id_proyecto" value="{{proyecto[0]}}">
                            <input type="hidden" name="id_grupo" value="{{proyecto[9]}}">
                            <input type="hidden" name="ciclo" value="{{proyecto[2]}}">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="califacion" name="calificacion"
                                    placeholder="Califcación">
                                <label for="califacion">Calificación</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea name="observaciones" id="observaciones" class="form-control"
                                placeholder="Observaciones">
                                
                                </textarea>
                            <label for="observaciones">Observaciones</label>
                            </div>
            
                            <div class="text-center">
                                <input type="submit" class="btn btn-success w-50" value="Enviar">
                            </div>
                            {%endif%}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
    </div>
{% endfor %}
<!-- Modal de evaluacion del proyecto ciclo III -->
{% for proyecto in proyectos %}
    <div class="modal fade" id="modal-evaluacion-tres-{{proyecto[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo III</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/jurado/retroalimentacion" method="post">
                        {%if proyectos[2] == "3"%}
                            <h1>Evaluación proyecto {{proyecto[1]}}</h1>
                            <input type="hidden" name="id_jurado" value="{{current_user.id}}">
                            <input type="hidden" name="id_proyecto" value="{{proyecto[0]}}">
                            <input type="hidden" name="id_grupo" value="{{proyecto[9]}}">
                            <input type="hidden" name="ciclo" value="{{proyecto[2]}}">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="califacion" name="calificacion"
                                    placeholder="Califcación">
                                <label for="califacion">Calificación</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea name="observaciones" id="observaciones" class="form-control"
                                placeholder="Observaciones">
                                
                                </textarea>
                            <label for="observaciones">Observaciones</label>
                            </div>
            
                            <div class="text-center">
                                <input type="submit" class="btn btn-success w-50" value="Enviar">
                            </div>
                            {%endif%}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
    </div>
{% endfor %}

<!-- Modal para ver observaciones ciclo I -->
<div class="modal fade" id="modal-obser-ciclo-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo I</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <table class=" table table-striped table-hover text-center" id="tabla_ciclo_evaluado_1">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                            <th>Entrega</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for proyectos in proyecto %}
                            {%if proyectos[2]=='1' and proyectos[9]==True %}
                                <tr>
                                    <td>{{proyectos[1]}}</td>
                                    <td>{{proyectos[5]}}</td>
                                    <td>{{proyectos[6]}}</td>
                                    <td>{{proyectos[7]}}</td>
                                    <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[3]}}'))">Documento</button></td>
                                    {%if proyectos[4] == 'Sin anexos'%}
                                        <td>Sin anexos</td>
                                    {%else%}
                                        <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[4]}}'))">Anexos</button></td>
                                    {%endif%}
                                        <td>{{proyectos[8]}}</td>
                                        <td>
                                            <div class="alert alert-success">
                                                <strong>Calificado</strong>
                                            </div>
                                        </td>
                                </tr>
                            {%endif%}

                        {% endfor %}
                        
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para ver observaciones ciclo II -->
<div class="modal fade" id="modal-obser-ciclo-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo II</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <table class=" table table-striped table-hover text-center" id="tabla_ciclo_evaluado_2">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                            <th>Entrega</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for proyectos in proyecto %}
                            {%if proyectos[2]=='2' and proyectos[9]==True %}
                                <tr>
                                    <td>{{proyectos[1]}}</td>
                                    <td>{{proyectos[5]}}</td>
                                    <td>{{proyectos[6]}}</td>
                                    <td>{{proyectos[7]}}</td>
                                    <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[3]}}'))">Documento</button></td>
                                    {%if proyectos[4] == 'Sin anexos'%}
                                        <td>Sin anexos</td>
                                    {%else%}
                                        <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[4]}}'))">Anexos</button></td>
                                    {%endif%}
                                        <td>{{proyectos[8]}}</td>
                                        <td>
                                            <div class="alert alert-success">
                                                <strong>Calificado</strong>
                                            </div>
                                        </td>
                                </tr>
                            {%endif%}

                        {% endfor %}
                        
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para ver observaciones ciclo III -->
<div class="modal fade" id="modal-obser-ciclo-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo III</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <table class=" table table-striped table-hover text-center" id="tabla_ciclo_evaluado_3">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                            <th>Entrega</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for proyectos in proyecto %}
                            {%if proyectos[2]=='3' and proyectos[9]==True %}
                                <tr>
                                    <td>{{proyectos[1]}}</td>
                                    <td>{{proyectos[5]}}</td>
                                    <td>{{proyectos[6]}}</td>
                                    <td>{{proyectos[7]}}</td>
                                    <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[3]}}'))">Documento</button></td>
                                    {%if proyectos[4] == 'Sin anexos'%}
                                        <td>Sin anexos</td>
                                    {%else%}
                                        <td><button class="btn btn-primary" onclick="establcerSrc(decryptInput('{{proyectos[4]}}'))">Anexos</button></td>
                                    {%endif%}
                                        <td>{{proyectos[8]}}</td>
                                        <td>
                                            <div class="alert alert-success">
                                                <strong>Calificado</strong>
                                            </div>
                                        </td>
                                </tr>
                            {%endif%}

                        {% endfor %}
                        
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{%elif current_user.rol == 1 or current_user.rol == 2 or current_user.rol == 3%}
<!-- Realizar un indicador de carga -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso No Autorizado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/styles.css')}}">
    {%if current_user.rol ==1%}
        <meta http-equiv="refresh" content="5; URL={{url_for('estudiantes.perfilestudiante')}}" />
    {%elif current_user.rol ==2%}
        <meta http-equiv="refresh" content="5; URL={{url_for('profesor.perfilprofesor')}}" />
    {%elif current_user.rol ==3%}
        <meta http-equiv="refresh" content="5; URL={{url_for('admin.perfiladmin')}}" />
    {%endif%}
</head>
<body>

    <div id="particles-js"></div>
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="container col-auto text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center"><strong>¡Hola {{current_user.nombres +' '+current_user.apellidos}} creo que estás perdido!</h1></strong>
            </div>
            <iframe src="https://giphy.com/embed/3o7aTskHEUdgCQAXde" width="480" height="204" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h5>¡ESTA VISTA, NO ESTA DISEÑADA PARA TI!</h5>
            <h5>Serás redireccionado en unos instantes...</h5>
            <!-- <a href="{{url_for('estudiantes.perfilestudiante')}}">Regresar</a> -->
        </div>
    </div>
</div>
</body>

<script src="{{url_for('static', filename='/js/particles.js')}}"></script>
<script>
    particlesJS.load('particles-js', "{{url_for('static', filename='/js/particles-space.json')}}", function () {
        console.log('callback - particles.js config loaded');
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</html>

{%endif%}
