{%extends 'base.html'%}
{%block content%}
<div class="row align-items-center justify-content-between mt-5">
    <div class="col-md-3">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo">
            <div class="card-header">

                <a style="color: black;" class="nav-link active bt-inicio" aria-current="page" href=""><i
                        class="bi bi-gear-fill" class="text-center mb-2" style="color: white;"></i> Editar
                    perfil</a>
                <center>
                    <h2 class="text-center mb-2" style="color: white;">Perfil</h2>
                    <img src="https://cdn-icons-png.flaticon.com/512/2922/2922510.png" width="100 px">
                </center>
                <center>
                    <div class="form-group">
                        <h5 class="text-center mb-2" style="color: white;">Juan Leonardo Ramirez Velasquez
                        </h5>
                    </div>
                    <div class="form-group">
                        <h6 class="text-center mb-2" style="color: white;">Ingenieria de Sistemas</h6>
                    </div>
                    <div class="form-group">
                        <h6 class="text-center mb-2" style="color: white;">Universidad de Cundinamarca
                            Seccional Ubate</h6>
                    </div>
                </center>
            </div>
        </div>
        <!--Fin tarjeta formulario-->
    </div>
    <!--Inicio carta primer entrega-->
    <div class="col-md-3">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo">
            <div class="card-header">
                <center>
                    <h2 class="text-center mb-2" style="color: white;">Ciclo I</h2>
                    <img src="https://cdn-icons-png.flaticon.com/512/3979/3979423.png" width="100 px">
                </center>
                <center>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                        <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                            data-bs-target="#modal-ciclo-1">Documentos</a>
                    </div>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Observaciones</h4>
                        <a href="" class="btn btn-success w-100">Observaciones</a>
                    </div>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Calificaciones</h4>
                        <a href="" class="btn btn-success w-100"> Calificaciones </a>
                    </div>
                </center>
            </div>
        </div>
        <!--Fin tarjeta formulario primer entrega-->
    </div>
    <!--Inicio carta segunda entrega-->
    <div class="col-md-3">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo">
            <div class="card-header">
                <center>
                    <h2 class="text-center mb-2" style="color: white;">Ciclo II</h2>
                    <img src="https://cdn-icons-png.flaticon.com/512/3979/3979423.png" width="100 px">
                </center>
                <center>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                        <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                            data-bs-target="#modal-ciclo-2">Documentos</a>
                    </div>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Observaciones</h4>
                        <a href="" class="btn btn-success w-100">Observaciones</a>
                    </div>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Calificaciones</h4>
                        <a href="" class="btn btn-success w-100"> Calificaciones </a>
                    </div>
                </center>
            </div>
        </div>
        <!--Fin tarjeta formulario segunda entrega-->
    </div>
    <!--Inicio carta segunda entrega-->
    <div class="col-md-3">
        <!--Tarjeta formulario-->
        <div class="card text-center fondo">
            <div class="card-header">

                <center>
                    <h2 class="text-center mb-2" style="color: white;">Ciclo III</h2>
                    <img src="https://cdn-icons-png.flaticon.com/512/3979/3979423.png" width="100 px">
                </center>
                <center>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                        <a href="" class="btn btn-success w-100" data-bs-toggle="modal"
                            data-bs-target="#modal-ciclo-3">Documentos</a>
                    </div>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Observaciones</h4>
                        <a href="" class="btn btn-success w-100">Observaciones</a>
                    </div>
                    <div class="form-group">
                        <h4 class="text-center mb-2" style="color: white;">Calificaciones</h4>
                        <a href="" class="btn btn-success w-100"> Calificaciones </a>
                    </div>
                </center>
            </div>
        </div>
        <!--Fin tarjeta formulario segunda entrega-->
    </div>
</div>
<!-- Modal Ciclo I-->
<div class="modal fade" id="modal-ciclo-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo I</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class=" table table-striped table-hover text-center flex">
                    <thead>
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for proyecto in proyectos%}
                        
                        {%if proyecto[2] == "1"%}
                        <tr>
                            <td>{{proyecto[1]}}</td>
                            <td>{{proyecto[8]}}</td>
                            <td>{{proyecto[6]}}</td>
                            <td>{{proyecto[7]}}</td>
                            <td><button class="btn btn-success"
                                    onclick="establcerSrc(decryptInput('{{proyecto[4]}}'))">Documento</button></td>
                            <td><a class="btn btn-success"
                                    onclick="establcerSrc(decryptInput('{{proyecto[5]}}'))">Anexos</a></td>
                        </tr>
                        {%endif%}
                       
                        {%endfor%}
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ciclo II-->
<div class="modal fade" id="modal-ciclo-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo II</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class=" table table-striped table-hover text-center flex">
                    <thead>
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for proyecto in proyectos%}
                        {%if proyecto[2] == "2"%}
                        <tr>
                            <td>{{proyecto[1]}}</td>
                            <td>{{proyecto[8]}}</td>
                            <td>{{proyecto[6]}}</td>
                            <td>{{proyecto[7]}}</td>
                            <td><button class="btn btn-success"
                                    onclick="establcerSrc(decryptInput('{{proyecto[4]}}'))">Documento</button></td>
                            <td><a class="btn btn-success"
                                    onclick="establcerSrc(decryptInput('{{proyecto[5]}}'))">Anexos</a></td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ciclo III-->
<div class="modal fade" id="modal-ciclo-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ciclo III</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class=" table table-striped table-hover text-center flex">
                    <thead>
                        <tr>
                            <th>Nombre Proyecto</th>
                            <th>Estudiante Uno</th>
                            <th>Estudiante Dos</th>
                            <th>Estudiante Tres</th>
                            <th>Documento</th>
                            <th>Anexos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for proyecto in proyectos%}
                        {%if proyecto[2] == "3"%}
                        <tr>
                            <td>{{proyecto[1]}}</td>
                            <td>{{proyecto[8]}}</td>
                            <td>{{proyecto[6]}}</td>
                            <td>{{proyecto[7]}}</td>
                            <td><button class="btn btn-success"
                                    onclick="establcerSrc(decryptInput('{{proyecto[4]}}'))">Documento</button></td>
                            <td><a class="btn btn-success"
                                    onclick="establcerSrc(decryptInput('{{proyecto[5]}}'))">Anexos</a></td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}