<!-- Estructura para mensaje de un correo -->
<h1>
    Fomalhaut
</h1>
<!-- Imagen adjunta para crreo -->
<img src="cid:image1" alt="Imagen adjunta" width="100" height="100">
<p>
    <strong>¡Hola!</strong>
    ¡Parece que olvidaste algo 😨!
    <br>
    Mantendremos tu secreto, pero no olvides tu contraseña 🤫.
</p>
<p>
    Aquí tienes el link para que crees una nueva contraseña 📩:
</p>
<a href="{{link}}">Link super secreto 🔐</a>
<strong>¡NO COMPARTAS ESTE LINK A TERCEROS!</strong>
<p>
    <strong>¡Muchas gracias!</strong>
    ¡Con ❤️ del equipo de fomalhaut!
</p>
