{%if current_user.rol == 3:%}
{%extends 'base.html'%}
{% block title %}
    Fomalhaut | Estudiante | {{current_user.nombres}}
{%endblock%}
{% block navbar %}
<nav class="nav navbar navbar-expand-lg sticky-top">
    <div class="container-fluid float-end">
        <a class="navbar-brand" href="#" style="color: white;">
            <img src="http://cdn.onlinewebfonts.com/svg/img_140098.png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Perfil Estudiante
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a style="color: white;" class="nav-link active bt-inicio" aria-current="page"
                        href="/registroGrupo"><i class="bi bi-file-pdf"></i> Enviar Proyecto</a>
                </li>
                <li class="nav-item">
                    <a onclick="return confirm('¿Esta seguro de salir?')" style="color: white;"
                        class="nav-link active bt-login" href="/forms/logout"><i
                            class="bi bi-door-open"></i>Salir</a>
                </li>
            </ul>
        </div>
</nav> 
{%endblock%}
{%block content%}
        <div class="row align-items-center justify-content-between mt-5">
            <div class="col-md-3">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark"
            aria-controls="staticBackdrop">
            <img src="https://cdn-icons-png.flaticon.com/512/2922/2922510.png" alt="" width="100px" height="100px">
            <h1 style="color:#fff;" class="shadows-lg">Perfil - {{current_user.nombres}}</h1>
        </button>
        <!--Tarjeta formulario-->
        <div class="offcanvas offcanvas-start show fondo" tabindex="-1" id="offcanvasDark"
            aria-labelledby="offcanvasDarkLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkLabel" style="color:#fff;">Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="card text-center fondo">
                    <div class="card-header">
        
                        <a style="color: black;" class="nav-link active bt-inicio" aria-current="page" href=""><i
                                class="bi bi-gear-fill" class="text-center mb-2" style="color: white;"></i> Editar
                            perfil</a>
                        <center>                
                            <img src="https://cdn-icons-png.flaticon.com/512/2922/2922510.png" width="100 px">
                        </center>
                        <center>
                            <div class="form-group">
                                <h5 class="text-center mb-2" style="color: white;">{{current_user.nombres}}</h5>
                            </div>
                            <div class="form-group">
                                <h6 class="text-center mb-2" style="color: white;">Ingenieria de Sistemas</h6>
                            </div>
                            <div class="form-group">
                                <h6 class="text-center mb-2" style="color: white;">Universidad de Cundinamarca
                                    Seccional Ubaté</h6>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <!--Fin tarjeta formulario-->
    </div>
            <!--Inicio carta primer entrega-->
            <div class="col-md-3">
                <!--Tarjeta formulario-->
                <div class="card text-center fondo">
                    <div class="card-header">

                        <form action="#" method="post" class="form-login mt-5">
                            <center>
                                <h2 class="text-center mb-2" style="color: white;">Ciclo I</h2>
                                <img src="https://cdn-icons-png.flaticon.com/512/3979/3979423.png" width="100 px">
                            </center>
                            <center>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                                    <a href=""  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" >Fechas de Entrega</a>
                                </div>
                            </center>

                        </form>
                    </div>
                </div>
                <!--Fin tarjeta formulario primer entrega-->
            </div>
            <!--Inicio carta segunda entrega-->
            <div class="col-md-3">
                <!--Tarjeta formulario-->
                <div class="card text-center fondo">
                    <div class="card-header">
                        <form action="#" method="post" class="form-login mt-5">
                            <center>
                                <h2 class="text-center mb-2" style="color: white;">Ciclo II</h2>
                                <img src="https://cdn-icons-png.flaticon.com/512/3979/3979423.png" width="100 px">
                            </center>
                            <center>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                                    <a href="" class="btn btn-success">Fechas de Entrega</a>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
                <!--Fin tarjeta formulario segunda entrega-->
            </div>
            <!--Inicio carta segunda entrega-->
            <div class="col-md-3">
                <!--Tarjeta formulario-->
                <div class="card text-center fondo">
                    <div class="card-header">
                        <form action="#" method="post" class="form-login mt-5">
                            <center>
                                <h2 class="text-center mb-2" style="color: white;">Ciclo III</h2>
                                <img src="https://cdn-icons-png.flaticon.com/512/3979/3979423.png" width="100 px">
                            </center>
                            <center>
                                <div class="form-group">
                                    <h4 class="text-center mb-2" style="color: white;">Proyectos</h4>
                                    <a href=""  class="btn btn-success">Fechas de Entrega</a>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
                <!--Fin tarjeta formulario segunda entrega-->
            </div>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Fechas para ciclo 1</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        <label for="ciclo1">Fecha Ciclo 1</label>
                        <input type="date" name="fecha_c1" class="form-date" id="ciclo1">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
{% endblock %}
{%elif current_user.rol == 1 or current_user.rol == 2 or current_user.rol == 4%}
<!-- Realizar un indicador de carga -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso No Autorizado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/styles.css')}}">
    {%if current_user.rol ==1%}
        <meta http-equiv="refresh" content="5; URL={{url_for('estudiantes.perfilestudiante')}}" />
    {%elif current_user.rol ==2%}
        <meta http-equiv="refresh" content="5; URL={{url_for('profesor.perfilprofesor')}}" />
    {%elif current_user.rol ==4%}
        <meta http-equiv="refresh" content="5; URL={{url_for('jurado.perfiljurado')}}" />
    {%endif%}
</head>
<body>
    <div id="particles-js"></div>
    <div class="m-0 vh-100 row justify-content-center align-items-center">
        <div class="container col-auto text-center">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center"><strong>¡Hola {{current_user.nombres +' '+current_user.apellidos}} creo que estás perdido!</h1></strong>
            </div>
            <iframe src="https://giphy.com/embed/3o7aTskHEUdgCQAXde" width="480" height="204" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <h5>¡ESTA VISTA, NO ESTA DISEÑADA PARA TI!</h5>
            <h5>Serás redireccionado en unos instantes...</h5>
            <!-- <a href="{{url_for('estudiantes.perfilestudiante')}}">Regresar</a> -->
        </div>
    </div>
</div>
</body>

<script src="{{url_for('static', filename='/js/particles.js')}}"></script>
<script>
    particlesJS.load('particles-js', "{{url_for('static', filename='/js/particles-space.json')}}", function () {
        console.log('callback - particles.js config loaded');
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</html>

{%endif%}
    